/* ~~~~~ GLOBAL RULES ~~~~~ */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: auto;
}

body {
  background: ghostwhite;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 1% auto 1%;
  min-width: 0;
  white-space: nowrap;
  border: none;
  border-radius: 10px;
  color: white;
  background: black;
  padding: 1vh 2vw 1vh 2vw;
  font-size: 1.2vw;
}

button:hover {
  background: darkslateblue;
}

.main-buttons {
  display: flex;
}

.hidden {
  display: none !important;
}

/* ~~~~~ MAIN POSTER SECTION ~~~~~ */
.main-poster {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  padding: 4%;
  width: 120vh;
  height: 85vh;
}

.poster-img {
  background-size: cover;
  border: 2px solid white;
  height: 70%;
  width: 85%;
  align-self: center;
}

.poster-title {
  color: white;
  font-size: 8vh;
  font-weight: normal;
  letter-spacing: 2vh;
  margin: 1% 0 0 0;
  text-transform: uppercase;
  width: 90%;
}

.poster-quote {
  color: white;
  font-size: 3.5vh;
  font-weight: normal;
  margin-top: 2%;
  margin-bottom: 1vh;
  justify-self: center;
  width: 90%;
}

/* ~~~~~ POSTER FORM SECTION ~~~~~ */
.poster-form {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  width: 40%;
}

.poster-form h2 {
  font-size: 5vh;
  margin-bottom: 8%;
  width: 100%;
}

.poster-form label {
  font-size: 4vh;
  margin-bottom: 2%;
}

.poster-form form {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.poster-form input {
  display: block;
  font-size: 3vh;
  margin-bottom: 8%;
  width: 100%;
  text-align: center;

}

.poster-form .divider {
  border-bottom: 1px solid black;
  margin: 7%;
  width: 100%;
  align-self: center;
}

.make-poster {
  width: 35%;
  font-size: 3vh;
  align-self: center;
}

.show-main {
  width: 45%;
  font-size: 2.5vh;
  align-self: center;
}

/* ~~~~~ SAVED POSTER SECTION ~~~~~ */
.saved-posters {
  padding: 3%;
  /* margin: 3%; */
  width: 90%;
  place-self: center;
}

.saved-posters h2 {
  font-size: 5vh;
  margin: 0 0 2% 1%;
}

.saved-posters-grid {
  display: flex;
  place-self: center;
  flex-flow: row wrap;
  align-items: flex-start;
}

.mini-poster {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  /* justify-content: center; */
  text-align: center;
  background: black;
  color: white;
  width: 53vh;
  height: 40vh;
  margin: 1%;
  padding: 2%;
}

.mini-poster img {
  height: 70%;
  width: 85%;
  margin-top: 1%;
  /* align-self: center; */
}

.mini-poster h2 {
  font-size: 3vh;
  font-weight: normal;
  letter-spacing: 1vh;
  text-transform: uppercase;
  margin: 1% 0 0 0;
  width: 90%;
  align-self: center;
  line-height: 1;
}

.mini-poster h4 {
  font-size: 1.5vh;
  font-weight: normal;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-self: center;
}
